/*
    Jacob's Wacky World homepage CSS

    Since: December 16th, 2022
    By: Jacob Applebaum
*/
/* FONTS */

@font-face {
    font-family: "Liberation Sans";
    src: url(/fonts/LiberationSans-Regular.ttf);
}
@font-face {
    font-family: "Liberation Sans";
    src: url(/fonts/LiberationSans-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Comic Sans MS";
    src: url(/fonts/Comic_Sans_MS_Bold.ttf);
}

/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Liberation Sans";
}

html {
    background-image: url("/images/jacob.jpg");
}

body {
    display: grid;
    grid-template: auto 1fr auto / 1fr auto;

    background-color: white;
    margin: 10px;
}

/* HEADER */

header {
    grid-column: 1 / 4;
}

header img#banner { 
    display: block;
    width: 100%;
}

header table {
    border-spacing: 0;
    border-collapse: collapse;
}

header td {
    width: 20%;
    text-align: center;
    white-space: nowrap;
}

header td button { 
    width: 100%;
    display: block;
    padding: 0.5em;
    font-size: 1em;

    border: none;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
}

header td button:hover { 
    box-shadow: inset 0 0 10px 5px black;
}

header #nav td:nth-of-type(1) button { background-color: #E31D98; }
header #nav td:nth-of-type(2) button { background-color: #E31D1D; }
header #nav td:nth-of-type(3) button { background-color: #FC8D0C; }
header #nav td:nth-of-type(4) button { background-color: #EDF145; }
header #nav td:nth-of-type(5) button { background-color: #4CF18D; }

/* MAIN(S) */

main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    float: left;
    clear: left;
    padding: 1rem;
    box-shadow: inset 0 5px 5px grey;
}

#projects table { width: calc(100% - 1rem); }

#projects img { width: 100%; }

#projects a { text-decoration: none; }

#projects article { 
    display: grid;
    grid-template-areas:
        "cat text img"
        "cat date img";
    grid-template-columns: 2em 1fr 30%;
    grid-template-rows: 1fr auto;

    padding: 0 10px 0 0;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: 5px solid darkgrey;
}

#projects article:hover { 
    background-color: #424242; 
    text-shadow: 3px 3px 2px black;
}

#projects button.artbut {
    width: calc(100% - 1rem);
    height: auto;

    background-color: transparent;
    border: 0;
    display: inline;
    margin: 5px auto 10px auto;
    padding: 0;
    outline: none;
    text-align: left;
}

#projects article #date { 
    grid-area: date;
    background-color: darkgrey;
    margin: 0 auto 10px 10px;
    height: fit-content;
}

#projects article #cat {
    grid-area: cat;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    font-size: 1.5em;
}

:root {
    --game-color:           darkred;
    --science-color:        #976a00;
    --school-color:         darkblue;
    --electronics-color:    darkgreen;
}

#projects div.game article          { border: 5px solid var(--game-color); }
#projects div.school article        { border: 5px solid var(--school-color); }
#projects div.electronics article   { border: 5px solid var(--electronics-color); }
#projects div.science article       { border: 5px solid var(--science-color); }


#projects div.game article:hover      { background-color: #520000; }
#projects div.school article:hover      { background-color: #000052; }
#projects div.electronics article:hover { background-color: #003200; }
#projects div.science article:hover     { background-color: #323200; }

#projects div.game #date,
#projects div.game #cat        { background-color: var(--game-color); }
#projects div.school #date,
#projects div.school #cat      { background-color: var(--school-color); }
#projects div.electronics #date,
#projects div.electronics #cat { background-color: var(--electronics-color); }
#projects div.science #date,
#projects div.science #cat     { background-color: var(--science-color); }

#projects article #text {
    grid-area: text;
    margin-top: 10px;
    margin-left: 10px;
}

#projects article #text h2 {
    font-family: Comic Sans MS;
    line-height: 1.5;
margin: 0px;
        font-size: 32px;
        letter-spacing: 0.039em;
        font-weight: 500;
        font-style: normal;

overflow: hidden;
          text-overflow: clip ellipsis;
display: -webkit-box;
         -webkit-line-clamp: 1;
         -webkit-box-orient: vertical;
}

#projects article #text p { padding-left: 0.1em;
overflow: hidden;
          text-overflow: clip ellipsis;
display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
}

#projects article img {
    grid-area: img;
    box-sizing: content-box;
    height: 10em;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

#projects article #date p { margin: 0.5em; }

#videos .header {
	text-align: center;
	font-size: 30px;
	margin-right: auto;
	margin-left: auto;
	
	position: relative;
	z-index: 0;
	border: 10px solid rgb(200, 200, 200);
	border-radius: 10px;
	background-color: rgb(200, 200, 200);
}

#videos .header:after {
	margin: auto;
	margin-top: 0px;
	content: " ";
	position: absolute;
	z-index: -1;
	left: 5px;
	right: 5px;
	bottom: 0px;
	top: 0px;
	border: 10px solid white;
	border-radius: 10px;
	background-color: white;
}

#videos .thumb-title {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	margin-top:2px;
	margin-bottom:2px;
	
	text-decoration: none;
	color: black;
}

#videos .thumb-title-c {
	font-size: 0.6em;
}

#videos .thumb-title-c2 {
	font-size: 0.8em;
}

/* Add padding BETWEEN each column (if you want) */
#videos .row,
#videos .row > .column {
	padding: 8px;
}
  
/* Create four equal columns that floats next to each other */
#videos .column {
	float: left;
	width: 25%;
}

#videos .row {
	background-color: rgb(200, 200, 200);
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 10px;
}


/* "<tag>2" tags are just used for "Featured Projects" on landing home page */
#videos .row2 {
	content: "";
	display: table;
	clear: both;
}
#videos .column2 {
	float: left;
	width: 100%;
}
/* end of "<tag>2" stuff


/* Clear floats after rows */
#videos .row:after {
	content: "";
	display: table;
	clear: both;
}
  
/* Content */
#videos .content {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
}

#videos .contente {
	background-color: rgb(161, 255, 246);
	padding: 10px;
	border-radius: 10px;
}

#videos .contentc {
	background-color: rgb(255, 190, 255);
	padding: 10px;
	border-radius: 10px;
}

#videos .content:hover, .contente:hover, .contentc:hover {
	background-color: rgb(150, 255, 150);
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
#videos @media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
#videos @media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

#about-me img { width: 100%; }

/* RIGHT */

#right { 
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightgrey;
    box-shadow: inset 0 5px 5px grey;
}

#right #buttons > * { margin: 25px; }
#right #loginform form,
#right #signupform form { margin: 15px; }

#right #loginform form .submit,
#right #signupform form .submit { padding: 5px; }

button.bigb {
    display: block;
    padding: 20px;
    width: calc(100% - 50px);

    background-color: blue;
    box-shadow: 0 0 10px 5px black;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
button.bigb:hover { box-shadow: 0 0 10px 1px black; }

button.smallb {
    margin: 10px;
}

/* FOOTER */

footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    background-color: lightgrey;
    box-shadow: inset 0 10px 10px grey;
}

/* RESPONSIVENESS */

@media screen and (max-width: 600px) {
    body { grid-template: auto auto 1fr auto / 1fr; }
    header,main,#right,footer { grid-column: 1 / 2; }
    #right { grid-row: 2 / 3; }
    main   { grid-row: 3 / 4; }
    footer { grid-row: 4 / 5; }

    #buttons > * { margin: 15px; width: calc(50% - 30px); float: left; }
}

@media screen and (min-width: 1300px) {
    body { width: 1280px; margin: 10px auto 10px auto; }
}

/* OTHER */

li { 
    list-style: inside;
}

/* INDIVIDUAL VIDEO PAGE (for video/index.php) */

video {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.90);
    text-align: center;
}

